<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNet.IconCreator.Wpf.Properties.IconSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyNet.IconCreator.Wpf.Properties.PreferencesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyNet.IconCreator.Properties.IconSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNet.IconCreator.Wpf.Properties.PreferencesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNet.IconCreator.Wpf.Properties.IconSettings>
            <setting name="ShowText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>pack://application:,,,/MyNet.Wpf;component/Fonts/#Nuvel</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="IsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TextBackgroundColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="TextForegroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="SeparateColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconData" serializeAs="String">
                <value />
            </setting>
            <setting name="CornerRadius" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="OffsetX" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OffsetY" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>100</value>
            </setting>
        </MyNet.IconCreator.Wpf.Properties.IconSettings>
        <MyNet.IconCreator.Wpf.Properties.PreferencesSettings>
            <setting name="ThemeBase" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>fr-FR</value>
            </setting>
        </MyNet.IconCreator.Wpf.Properties.PreferencesSettings>
        <MyNet.IconCreator.Properties.IconSettings>
            <setting name="ShowText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>pack://application:,,,/MyNet.UI.Wpf;component/Fonts/#Nuvel</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="IsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TextBackgroundColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="TextForegroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="SeparateColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconData" serializeAs="String">
                <value />
            </setting>
            <setting name="CornerRadius" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="OffsetX" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OffsetY" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>100</value>
            </setting>
        </MyNet.IconCreator.Properties.IconSettings>
    </userSettings>
    <applicationSettings>
        <MyNet.IconCreator.Wpf.Properties.PreferencesSettings>
            <setting name="ThemePrimaryColor" serializeAs="String">
                <value>#FFF09301</value>
            </setting>
            <setting name="ThemeAccentColor" serializeAs="String">
                <value>#FFF6CB08</value>
            </setting>
        </MyNet.IconCreator.Wpf.Properties.PreferencesSettings>
    </applicationSettings>
</configuration>